USE [master]
GO
/****** Object:  Database [LotoRoto]    Script Date: 4/11/2019 1:31:15 PM ******/
CREATE DATABASE [LotoRoto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LotoRoto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DUDASQL\MSSQL\DATA\LotoRoto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LotoRoto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DUDASQL\MSSQL\DATA\LotoRoto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LotoRoto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LotoRoto]
GO
/****** Object:  Table [dbo].[Dobitnici]    Script Date: 4/11/2019 1:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dobitnici](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TiketID] [int] NOT NULL,
	[VrstaDobitnikaID] [int] NOT NULL,
	[KoloID] [int] NOT NULL,
 CONSTRAINT [PK_DobitniciID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fond]    Script Date: 4/11/2019 1:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fond](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ulaz] [int] NOT NULL,
	[Izlaz] [int] NOT NULL,
	[TransakcijaID] [int] NOT NULL,
	[HumanitarniFondID] [int] NOT NULL,
 CONSTRAINT [PK_FondID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grad]    Script Date: 4/11/2019 1:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grad](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[PTT] [varchar](10) NOT NULL,
 CONSTRAINT [PK_GradID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HumanitarniFond]    Script Date: 4/11/2019 1:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HumanitarniFond](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BrRacuna] [varchar](20) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_HumanitarniFondID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kolo]    Script Date: 4/11/2019 1:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kolo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kolo_Kombinacija_id] [int] NOT NULL,
	[Datum] [date] NOT NULL,
 CONSTRAINT [PK_KoloID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kombinacija]    Script Date: 4/11/2019 1:31:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kombinacija](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Broj_1] [int] NOT NULL,
	[Broj_2] [int] NOT NULL,
	[Broj_3] [int] NOT NULL,
	[Broj_4] [int] NOT NULL,
	[Broj_5] [int] NOT NULL,
	[Broj_6] [int] NOT NULL,
	[Broj_7] [int] NOT NULL,
	[Broj_8] [int] NOT NULL,
	[Broj_9] [int] NOT NULL,
	[Broj_10] [int] NOT NULL,
	[Broj_11] [int] NOT NULL,
	[Broj_12] [int] NOT NULL,
	[Broj_13] [int] NOT NULL,
	[Broj_14] [int] NOT NULL,
 CONSTRAINT [PK_KombinacijaID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 4/11/2019 1:31:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Pass] [varchar](50) MASKED WITH (FUNCTION = 'default()') NOT NULL,
	[Ime] [nvarchar](30) NOT NULL,
	[Prezime] [nvarchar](30) NOT NULL,
	[DatumRodj] [date] NOT NULL,
	[logInDate] [date] NOT NULL,
	[logInTime] [time](7) NOT NULL,
	[Adresa] [nvarchar](50) NOT NULL,
	[GradID] [int] NOT NULL,
	[BrRacuna] [varchar](20) NOT NULL,
	[Tel] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[TipKorisnika] [varchar](5) NOT NULL,
 CONSTRAINT [PK_KorisnikID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [user_info] UNIQUE NONCLUSTERED 
(
	[Username] ASC,
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiket]    Script Date: 4/11/2019 1:31:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tiket_Kombinacija_id] [int] NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[KoloID] [int] NOT NULL,
 CONSTRAINT [PK_TiketID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transakcija]    Script Date: 4/11/2019 1:31:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transakcija](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Iznos] [int] NOT NULL,
	[DobitniciID] [int] NOT NULL,
	[BrRacuna] [varchar](20) NOT NULL,
	[Isplaceno] [int] NOT NULL,
	[Datum] [date] NOT NULL,
 CONSTRAINT [PK_TransakcijaID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VrstaDobitnika]    Script Date: 4/11/2019 1:31:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VrstaDobitnika](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_VrstaDobitnikaID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Korisnik] ADD  DEFAULT ('') FOR [TipKorisnika]
GO
ALTER TABLE [dbo].[Dobitnici]  WITH CHECK ADD  CONSTRAINT [FK_KoloID] FOREIGN KEY([KoloID])
REFERENCES [dbo].[Kolo] ([ID])
GO
ALTER TABLE [dbo].[Dobitnici] CHECK CONSTRAINT [FK_KoloID]
GO
ALTER TABLE [dbo].[Dobitnici]  WITH CHECK ADD  CONSTRAINT [FK_TiketID] FOREIGN KEY([TiketID])
REFERENCES [dbo].[Tiket] ([ID])
GO
ALTER TABLE [dbo].[Dobitnici] CHECK CONSTRAINT [FK_TiketID]
GO
ALTER TABLE [dbo].[Dobitnici]  WITH CHECK ADD  CONSTRAINT [FK_VrstaDobitnikaID] FOREIGN KEY([VrstaDobitnikaID])
REFERENCES [dbo].[VrstaDobitnika] ([ID])
GO
ALTER TABLE [dbo].[Dobitnici] CHECK CONSTRAINT [FK_VrstaDobitnikaID]
GO
ALTER TABLE [dbo].[Fond]  WITH CHECK ADD  CONSTRAINT [FK_HumanitarniFondID] FOREIGN KEY([HumanitarniFondID])
REFERENCES [dbo].[HumanitarniFond] ([ID])
GO
ALTER TABLE [dbo].[Fond] CHECK CONSTRAINT [FK_HumanitarniFondID]
GO
ALTER TABLE [dbo].[Fond]  WITH CHECK ADD  CONSTRAINT [FK_TransakcijaID] FOREIGN KEY([TransakcijaID])
REFERENCES [dbo].[Transakcija] ([ID])
GO
ALTER TABLE [dbo].[Fond] CHECK CONSTRAINT [FK_TransakcijaID]
GO
ALTER TABLE [dbo].[Kolo]  WITH CHECK ADD  CONSTRAINT [FK_Kolo_Kombinacija_id] FOREIGN KEY([Kolo_Kombinacija_id])
REFERENCES [dbo].[Kombinacija] ([ID])
GO
ALTER TABLE [dbo].[Kolo] CHECK CONSTRAINT [FK_Kolo_Kombinacija_id]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [FK_GradID] FOREIGN KEY([GradID])
REFERENCES [dbo].[Grad] ([ID])
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [FK_GradID]
GO
ALTER TABLE [dbo].[Tiket]  WITH CHECK ADD  CONSTRAINT [FK_Kolo_id] FOREIGN KEY([KoloID])
REFERENCES [dbo].[Kolo] ([ID])
GO
ALTER TABLE [dbo].[Tiket] CHECK CONSTRAINT [FK_Kolo_id]
GO
ALTER TABLE [dbo].[Tiket]  WITH CHECK ADD  CONSTRAINT [FK_Korisnik_id] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([ID])
GO
ALTER TABLE [dbo].[Tiket] CHECK CONSTRAINT [FK_Korisnik_id]
GO
ALTER TABLE [dbo].[Tiket]  WITH CHECK ADD  CONSTRAINT [FK_Tiket_Kombinacija_id] FOREIGN KEY([Tiket_Kombinacija_id])
REFERENCES [dbo].[Kombinacija] ([ID])
GO
ALTER TABLE [dbo].[Tiket] CHECK CONSTRAINT [FK_Tiket_Kombinacija_id]
GO
ALTER TABLE [dbo].[Transakcija]  WITH CHECK ADD  CONSTRAINT [FK_DobitniciID] FOREIGN KEY([DobitniciID])
REFERENCES [dbo].[Dobitnici] ([ID])
GO
ALTER TABLE [dbo].[Transakcija] CHECK CONSTRAINT [FK_DobitniciID]
GO
USE [master]
GO
