.kontakt {
    text-align: justify;
    text-align: center;
    color: #275196;
    padding: 100px;
}
.o_igri {
    text-align: justify;
    text-align: center;
    color: #275196;
    padding: 50px;}
.o_nama1 {
    margin-left: 250px;
    margin-right: 250px;
}
.nas_tim {
    color: #275196;
    text-transform: uppercase;
}